<div class="text-center about">
  <br>

<p>
  このサイトは、ペットの鳥のSNSサイトになります。<br>
  写真などの投稿や迷子や保護した鳥の情報提供、里親や不用品引き取りの募集が出来ます。<br>
  閲覧は出来ますが、投稿はログインが必要です。
</p>
<p>ログインは<%= link_to "こちら", new_user_session_path %></p>
</div>
  
  
  
  

