<% if @rooms.present? %>
<%  @rooms.each do |room| %>
<div class="col-md-10 mx-auto">
  <div class="card shadow p-5">
      <div class="card-content">
  <%= link_to room_path(room), class: "dm_list__content__link" do %>
    <p><%= opponent_user(room) %><% end %>さんとのDM </p>
    <p>最新のメッセージ</p><%= most_new_message_preview(room) %>

   </div>
  </div>
  </div>
  <% end %>
<% else %>
 <div class="col-md-10 mx-auto">
 <h2>メッセージはありません</h2>
 </div>
<% end %>